**/bin
**/build
**/dist
*.DS_Store
*.idea
*.iml
**/*.db
conf/*
!conf/defaults.ini
!conf/seed.json
!conf/versions-demo.json
node_modules
**/*.pyc
kluster.json
!hack/populate.sh
**/tuf.log
.vscode/
hack/**/.env
.idea/
hack/credential/**
